* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-color: lightgrey;
   
}

/* Header */
#container_header {
    background-color: white;
    width: 100%;
    height: 100px;
}

#logo {
    padding-top: 25px;
    padding-left: 15px;

}

#logotext {
    font-size: 50px;
    margin-left: 10px;
    position: absolute;
    top: 2%;
    
}

/* bottoni  */

#container_button {
    background-color: white;
    border-radius: 1%;
    width: 80%;
    height: 90px;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 2px;
    

}

#button1 {
    align-items: center;
    background-color: lightskyblue;
    color: white;
    border-radius: 15%;
    height: 40px;
    width: 60px;
    margin-left: 90px;
    margin-top: 25px;
    
}

#button2 {
    background-color:white;
    color: gray;
    border-radius: 15%;
    height: 40px;
    margin-left: 10px;
   
}

/* Lista */

#container_list {
    background-color: white;
    border-radius: 1%;
    width: 80%;
    height: 650px;
    margin: 0 auto;
    
    
}

.list {
    padding-left: 60px;
    padding-top: 40px;
}

.checkmark::after {
    content: "\2705 ";
}

.xmark::after {
    content:"\274c" ;
}

.editorial {
    background-color: rgb(131, 178, 250);
    border-radius: 25%;
    margin-left: 20px;
}

.goals {
    background-color: violet;
    border-radius: 25%;
    margin-left: 20px;
}

.Recruiting {
    background-color: rgb(55, 190, 139);
    border-radius: 25%;
    margin-left: 20px;
}

.mobile {
    background-color: orange;
    border-radius: 25%;
    margin-left: 20px;
}

.website {
    background-color:pink;
    border-radius: 25%;
    margin-left: 20px;
}

.sales {
    background-color:rgb(160, 212, 64);
    border-radius: 25%;
    margin-left: 20px;
}
